<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top ">
      <div class="container">
        <a class="navbar-brand fs-2 fw-bold " href="#"><i class="fa fa-cart-shopping fs-2"
            style="color: #f54242;"></i><span class="textBlur">Cinay Burger</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!--Toggle  -->
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">
  
           
           
            
            <li class="nav-item">
              <a class="nav-link fw-semibold text-uppercase text-black me-1" routerLink="/login">
                <i class="fa fa-user-circle fs-5" style="color: #202122;"></i>
                login Admin
              </a>
            </li>
            
            <li class="nav-item dropdown">
              <div class="dropdown-menu">
                <div class="CartContainer">
                  <div class="row">
                    <div class="col-6">
                      Your Cart
                    </div>
                    <div class="col-6 text-end text-danger">
                      Remove All
                    </div>
                  </div>
                  <div class="row pt-1" > 
                    <div class="col-4">
                      <img class="img-fluid" style="height: 30px;border-radius: 50%;"  class="card-img-top">
                    </div>
                    <div class="col-3">
                     
                    </div>
                    <div class="col-2">
  
                    </div>
                    <div class="col-2 text-end">
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-3">
  
                    </div>
                    <div class="col-9">
                      <hr>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-2">
                       
                    </div>
                    <div class="col-2">
                       
                    </div>
                    <div class="col-4">
                      <div class="Subtotal">Sub-Total</div>
                      <div> <small> 2 items</small></div>
                    </div>
                    <div class="col-4 text-end">
                      <strong> </strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-end">
                      <button class="btn btn-sm btn-success">Checkout</button>
                    </div>
                  </div> 
                </div>
              </div> 
            </li> 
          </ul> 
        </div>
      </div>
    </nav>
  </header>
  <section id="product">
    <div class="container">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </section>
  







<section id="product">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Exclusive Products</h2> 
                    
                </div>
            </div>
            <div class="col-12" >
                <div class="row mt-3" >
                    <div class="col-lg-3 pt-1" *ngFor="let a of tabArticles">
                        <div class="box-shadow">
                            <div class="card">
                                <img class="img-fluid" style="height: 200px;"  class="card-img-top"
                                    alt="..." [src]="'http://localhost:8000/' + a.image" alt="{{ a.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ a.name }}</h5>
                                    <p class="card-text"><span
                                            class="text-danger fw-semibold me-2"></span><del> </del>
                                        {{ a.description }}</p>
                                     
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-star-half-stroke  m-0"
                                                style="color: #f1f50f;"></i> 
                                                <span class="text-muted">{{ a.price }}€</span>
                                        </div>
                                        <div class="col-6 text-end">
                                          <a [routerLink]="['/commande', a.id]" class="btn btn-sm btn-success">Ajouer commande</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>
            
        </div>
    </div>



</section>



