<div class="container">
    <h2>Modifier la Commande pour {{ burger?.name }}</h2>
    <form (ngSubmit)="save()">
      <div>
        <label for="nom">Nom:</label>
        <input id="nom" [(ngModel)]="commande.nom" name="nom" required>
      </div>
  
      <div>
        <label for="prenom">Prénom:</label>
        <input id="prenom" [(ngModel)]="commande.prenom" name="prenom" required>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="commande.email" name="email" required>
      </div> 
      <div>
        <label for="statut">Statut:</label>
        <select id="statut" [(ngModel)]="commande.statut" name="statut" required>
          <option value="en_attente">En attente</option>
          <option value="terminee">Terminée</option>
          <option value="annulee">Annulée</option>
          <option value="payee">Payée</option>
        </select>
      </div>
  
      <div>
        <label for="date_commande">Date de Commande:</label>
        <input id="date_commande" [(ngModel)]="commande.date_commande" name="date_commande" type="datetime-local" required>
      </div>
  
      <button type="submit">Sauvegarder les Modifications</button>
    </form>
  </div>
  