<!-- src/app/login/login.component.html -->
<body class="center flex">
    <section class="card center">
        <div class="d-logo center flex">
            <img class="logo" src="https://media.istockphoto.com/id/1532801623/fr/photo/savoureux-burger-frais-isol%C3%A9-sur-fond-blanc.webp?b=1&s=170667a&w=0&k=20&c=J7c2GsFpHgJh6RaV33prYVQ9xxSUnY4tnyRYSvM0nJ8=" alt="logo">
        </div>
        <div class="title">
            <h2 class="center flex roboto-thin">Cinay burger</h2>
            <h2 class="center flex roboto-thin">Login Admin</h2>
        </div>

        <form (ngSubmit)="login()" #loginForm="ngForm">
            <section class="form">
                <input
          type="email" class="center flex roboto-thin"
          id="email"
          name="email"
          placeholder="E-mail "
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
        />
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
            <div *ngIf="emailInput.errors?.['required']">L'email est requis.</div>
            <div *ngIf="emailInput.errors?.['email']">L'email est invalide.</div>
        </div>
     
                <input class="center flex roboto-thin" type="password" name="password" placeholder="Password" [(ngModel)]="password"
                #passwordInput="ngModel"
                required>

                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
                    <div *ngIf="passwordInput.errors?.['required']">Le mot de passe est requis.</div>
                  </div>
                <div class="space-between">
                    <div class="center flex">
                        <input type="checkbox" id="rememberMe">
                    </div>
                    <div class="center flex">
                        <a class="link text-size-10 roboto-thin" href="">
                            <span>Forgot password?</span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="buttons">
                <button class="center flex button button-primary" type="submit" [disabled]="loginForm.invalid">Sign in</button>
                <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
              
            </section>

            <section class="not-member center flex">
                <span class="text-size-10 roboto-thin"> Not a member yet? <a class="link" routerLink="/signup">Sign up</a></span>
            </section>
            

            <!-- Affichage des messages d'erreur -->
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </form>

    </section>
</body>
